
body{
    background-color: #555; /* set a background color */
}
.topP{
    float:right; /* float content to the right */
    margin-right:20px; /* set right side margin */
}
.parallax-container{
    height: 580px; /* set height of parallax container */
}
.nav-extended{
    background-color: #032e8c; /* set background color */
    text-shadow: 1px 1px #000; /* add text shadow to div */
    box-shadow: 0 3px 6px #999, 0 3px 6px #999; /* add box-shadow */
    padding-top:20px; /* add 20 px of padding to top of div */
}
.nameHead{
text-align: center; /* center text */
}
.myName{
    font-size: 70px; /* set font-size */
    font-family: 'Bangers', cursive; /* set font */

}
.jumbotron{
    margin-top:40px; /* set content 40px from top */
    border-style: unset; /* select style of border */

    box-shadow: 0 3px 6px #999, 0 3px 6px #999; /* add box-shadow */
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 100px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #ffffff; /* set  button background color */
    color: #555; /* set button text color */
}
.page-footer{
    text-shadow: 1px 1px #000; /* add text-shadow */
    background-color:#032e8c; /* set footer background color */
    position: relative; /* set position of footer relative to page */
    bottom: 0; /* set footer position to bottom of page */
    width: 100%; /* set width to 100% of page */
}
.copyright{
    float:right; /* float content to right side of div */
    margin-right: 40px; /* set content 40px from right of page */
}
/* .appText {
    color: white; 
    font-size: 70px; 
    width: 100%; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px #000;
} */
#leftFoot{
    margin-left:20px; /* set content in left portion of footer 20px from left of page */
}
#icons{
    margin-left:30px; /* set icons 30px from left of page */
}
.display-4{
    text-align: center; /* align text center of page */
    font-family: 'Bangers', cursive; /* set font */
}
.lead{
    text-align: center; /* align text center of page */
    font-family: 'Bangers', cursive; /*set font */
}

#nameHead{
    margin-top:50px; /* set name 50px from top of div */
    color: #ffffff; /* select text color */
    text-shadow: 1px 1px #000; /* set text-shadow */
}

 /* contact css */
 .conInfo{
    font-family: 'Open Sans' sans-serif;
    color: #FBFBFB;
    margin: 0;
 }

 .contact__container {
    display: block;
    border: 10px solid #62B6CB;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 0 10px 10px;
    max-width: 500px;
    background-color: #62B6CB;
}

.contact__title {
    display: inline-block;
}

.contact__title {
    padding: 0 10px 0 0px;
    margin: 5px 0;
    color: #FBFBFB;
}

.contact__form {
    padding: 10px 10px 0 0;
}

.break {
    width: 100%;
    display: block;
    margin: 5px 0;
    height: 5px;
    border: 0;
    background-color: #FBFBFB;
}

input,
textarea {
    width: 100%;
    border: 5px solid #FFFFFF;
    border-radius: 5px;
    resize: none;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 18px;
    color: #000;
    
}

input[type="text"] {
    padding: 0;
    height: 40px;
    width: 100%;
}

input:focus,
textarea:focus {
    outline: none;
}

.contact__form-input {
    margin: 5px 0 10px 0;
}

.contact__form-textarea {
    margin: 5px 0;
    width: 100%;
    height: 100px;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #032e8c;
    border: 0;
    color: #FBFBFB;
    border: 5px solid #032e8c;
    border-radius: 5px;
    margin: 10px 0 0 0;
    font-family: 'Open Sans' sans-serif;
    font-size: 22px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
    border: #368da2;
    box-shadow: 0 3px 6px #000, 0 3px 6px #000;
    
}
